<h1>New Game</h1>

<ul>
  <% @letters.each do |letter| %>
    <li><%= letter.capitalize %></li>
  <% end %>
  <% start_time = Time.now %>
</ul>

<br>

<div class="d-flex">
  <div class="w-50 text-center">

    <p>What is the longest word you can find?</p>

    <form action="/score" method="post" data-turbo="false" >
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters.join %>

      <input type="text" name="guess" placeholder="What is your guess?" class="form-control block">
      <input type="submit" value="play" class="btn btn-primary">
    </form>

  </div>
</div>
